
html{
  height: 100%;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .card{
  height: auto !important; 
    width: 100% !important;
    background-color: #fff !important;
} */
.text-white{
  color: #17a2b8 !important;
}
.logout {
  position: absolute;
  right: 93px;
  list-style: none;
}
.welcome-user{
  list-style: none;
}
.welcome-user-text{
  color: #fff !important;
}
.logout a {
  color: #fff !important;
}
a.d-lg-none.nav-link {
  position: relative;
  left: 43px;
}
/* .error {
  color: red;
  font-size: 10px;
}

.inputError {
  border: 2px solid red !important;
} */


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .nav-brand-title {
    font-size: 20px !important;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .nav-brand-title {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 320px) {
  .nav-brand-title {
    font-size:11px !important;
 }

}